/* google font imports here  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html{
    font-size: 16px;
}

p{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    padding-top: 1rem;
}

main{
    padding: 2rem 9rem;
}

.btn{
    padding: 1rem 1.5rem;
    border: 1px solid #FF900E;
    outline: none;
    background-color: #FF900E;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.15rem;
    cursor: pointer;
    margin: 1.5rem 0;
    transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    color: #FF900E;
}

/* header section css start  */

header{
    padding: 2rem 9rem;
    background: #ff900e1a;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > h3{
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
    cursor: pointer;
    text-shadow: 0 4px 4px #00000040;
}
nav > h3 > span{
    color: #FF900E;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    text-decoration: none;
    margin-left: 2.3rem;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 26px;
}

.banner{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.banner h2{
    padding: 6rem 0 .5rem 0;
    color: #131313;
    font-size: 3rem;
}
header img{
    width: 100%;
}
/* header section css end  */

/* features section css start here */
section{
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.features h3{
    font-size: 2.5rem;
    font-weight: 700;
}
.features h3 .color-1{
    color: #727272;
    font-weight: 500;
}
.features h3 .color-2{
    color: #FF900E;
}
/* features section css end here */

/* experience section start here  */
.heading h2{
    border-left: 5px solid #FF900E;
    padding-left: 1rem;
    font-size: 2.5rem;
}
.our-experience{
    padding: 0 1rem 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.our-experience h4{
    margin-top: 3.5rem;
    font-size: 1.4rem;
}
.experience-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.exp-img{
    position: relative;
    /* border: 1px solid tomato; */
}
.experience-heading img{
    width: 95%;
}
.experience-heading div{
    flex: 1;
}
.ExpBtn{
    position: absolute;
    border: none;
    outline: none;
    padding: 2rem;
    font-size: 2rem;
    background-color: #FF900E;
    color: #fff;
    border-radius: 8px;
    bottom: -4rem;
    left: -4rem;
}
.ExpBtn span{
    font-size: 1.5rem;
}

/* facts section start here  */
.facts h3{
    font-size: 2.5rem;
}
.all-facts{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.all-facts .part{
    border: 1px solid #FF900E;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
}
.all-facts .part h3{
    padding-top: 0.5rem;
}
/* facts section end here  */

/* sponsors sections start here  */
.Sponsors{
    text-align: center;
}
.Sponsors h3{
    font-size: 2.5rem;
}
.our-sponsor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.our-sponsor img{
    filter: grayscale(100%);
    cursor: pointer;
    transition: 0.3s;
}
.our-sponsor img:hover{
    filter: grayscale(10%);
}

footer{
    text-align: center;
    padding: 2rem 0;
}





/* small device  */
@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    header{
        padding: 2rem;
    }
    main{
        padding: 1rem 2rem;
    }
    section{
        margin-top: 1rem;
    }
    nav{
        flex-direction: column;
    }
    .features{
        flex-direction: column-reverse;
    }
    .features-img{
        grid-template-columns: 1fr;
    }
    .all-facts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .our-sponsor{
        flex-direction: column;
        gap: 3rem;
    }
    .experience-heading{
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .ExpBtn{
        left: -1rem;
    }
}

/* medium device  */
@media screen and (min-width: 576px) and (max-width: 990px){
    html{
        font-size: 14px;
    }
    header{
        padding: 2.5rem;
    }
    nav{
        flex-direction: column;
    }
    .features{
        flex-direction: column-reverse;
    }
    .all-facts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .experience-heading{
        flex-direction: column;
        margin-bottom: 5rem;
    }
    .our-sponsor{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }
}